@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.cardalimento{
    background-color: black;
}

.cardcomboalimento{
    width: 50%;
    background-color: black;
    color: white;
    height: 50%;
    margin-left: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #F0E3CA; 
}

.card-header{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: black;
    color: white;
}

.card-img1, .card-img2{
    min-width: 10%;
    width: auto;
    height: 100%;
    border-radius: 20px;
}

.card-img2{
    margin-left: 20px;
}

.cardbody{
    height: 170px;
    text-align: center;
    background-color: black;
    font-size: larger;
    color: white;
    margin-bottom: 0;
}

.cardtitulo{
    font-size: 32px;
    width: 100%;
    height: 25%;
    margin: 0 auto;
    background-color: orangered;
    color: white;
}

.cardlocal{
    font-size: 32px;
    text-align: left;
    font-weight: 800;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cardtexto{
    font-weight: 700;
    margin-top: 20px;
}

.cardtextopreco{
     margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: orangered;
}

.leiamais {
    margin-top: 10px;
    text-align: center;
    background-color: orangered;
    color: black;
    font-weight: 500;
}

.leiamais:hover{
    margin-top: 10px;
    text-align: center;
    background-color: #a35709;
    color: orangered;
    font-weight: 500;
}

.textoleiamais{
    text-align: center;
    width: 100%;
}

@media (max-width:800px){


    .cardcomboalimento{
    margin-left: 15%;
    font-size: small;
    width: 70%;
    height:max-content;
}

    .cardbody{
        height: 50%;
    }

    .cardtexto{
        margin-left: 1%;
    }

    .details{
        font-size: small;
    }

    .card-img1, .card-img2{
        width: 45%;
    }

}