@keyframes bounce{
    0%, 20%, 40%, 60%, 100%{
        -webkit-transform: translate(0);
        transform: translate(0);
    }
     40%{
        -webkit-transform: translate(-20px);
        transform: translate(-20px);
     }

     80%{
        -webkit-transform: translate(-10px);
        transform: translate(-10px);
     }

}

.poster{
    background-image: url(../fotos/nossoscombos.jpg);
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

 .funcaobotao{
    background-color: transparent;
    border: none;   
}

 .funcaobotao:hover{
  animation: bounce 1s;
  background-color: transparent;
}

.botao{
    width: 10%;
    text-align: center;

}

.titulo{
    background-color: orangered;
    color: white;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

main{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: gray;
}

.titulocombo{
    color: orangered;
    font-size: large;
}

.listacombo{
    list-style: disc;
    text-align: left;
}

.preco{
    color: white;
    font-size: 25px;
}

.container .box{
    position: relative;
    width: 300px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba (0,0,0,.1);
    border: 1px solid white;
    border-radius: 30px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 11px 11px 12px -8px rgba(163,87,9,1);
    -moz-box-shadow: 11px 11px 12px -8px rgba(163,87,9,1);
    box-shadow: 11px 11px 12px -8px rgba(163,87,9,1);
}

.container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 400;
    transition: 1s;
    border-style: hidden;
}

#combo1, #combo2, #combo3{
    color: #000000;
}

.container .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 1000px #a35709;
    background: #a35709;
}

.container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 1000px #a35709;
}

.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 1000px #a35709;
    background: #a35709;
}


.container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 1000px #a35709;
}

.container .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 1000px #a35709;;
    background: #a35709;
}

.container .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 1000px #a35709;
}

.container .box .content{
    position: relative;
    transition: 0,5s;
}

.container .box:hover .content{
  color: #fff;
}

.container .box .content h3
{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container .box .content p
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.botaocombos{
    display: inline-block;
    padding: 10px 20px;
    background:orangered;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.botaocombos:hover{
    padding: 10px 20px;
    background: wheat;
    border-radius: 50px;
    text-decoration: none;
    color: orange;
}

.container .box:before{
    width: 50%;
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    background: blanchedalmond(255, 255, 255, .2);
    z-index: 2;
    pointer-events: none;
}

.carrinho{
    width: 20px;
}

.tv{
    width: 20px;
}

.cadastre-se{
    background-color: #A35709;
    color: white;
    display: flow-root;
    font-size: 25px;
    text-align: center;
    padding: 2% 2%;
}

button{
    background-color: #ba7026;
    border-radius: 5%;
    border: transparent;
    color: white;
    padding: 8px;

}

/* From uiverse.io by @alexmaracinaru */
.cta {
    border: none;
    background: none;
}
   
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
}
   
.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
   
.cta:hover svg {
    transform: translateX(0);
}
   
.cta:active svg {
    transform: scale(0.9);
}
   
.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}
   
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
   
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media(max-width:800px){
    .poster{
        height: 200px;
    }

    .titulo{
        font-size: 20px;
    }

    .container{
        margin-bottom: 5%;
        margin-left: 8%;
    }

    .cardlocal{
        margin-top: 5%;
    }

}