.main-login{
    width: 100%;
    height: 100vh;
    background-color: #F0E3CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: black;
    font-size: 5vh;
    font-weight: 800;
}

.left-login > h2 {
    color: #FF8303;
    font-size: 10vh;
    font-weight: 800;
}

.imagemanimacao{
    width: 50vh;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FF8303;
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

.card-login > h1{
    color: #A35709;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.user{
    width: 80px;
    height: 80px;
    align-items: center;
    margin: 0 auto;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: whitesmoke;
  color: black;
  font-size: 12pt;
  box-shadow: 0px 10px 40px black;
  outline: none;
  box-sizing: border-box;
}

.textfield > label{
   color: white;
   margin-bottom: 10px;
}

.textfield > input::placeholder{
  color: black;
}

.btn-login{
    width: 100px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 700;
    color: #FF8303;
    background-color: #A35709;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px orange;
}

@media(max-width:800px){
    .main-login{
        display: flex;
        flex-direction: column;
    }

    .left-login, h2{
        width: 40vh;
    }

    .imagemanimacao{
        display: none;
    }

    .right-login{
        width: 100%;
    }

    .card-login{
        height: 90%;
        width: 70%;
    }
}
